In [4]:
import pandas as pd
import numpy as np

from dateutil import relativedelta
from datetime import datetime, timedelta
import random

In [5]:
df = pd.read_excel('data/train.xlsx', parse_dates=True, date_format='%Y-%m-%d')
df.head()

,PRICES,Hour 01,Hour 02,Hour 03,Hour 04,Hour 05,Hour 06,Hour 07,Hour 08,Hour 09,...,Hour 15,Hour 16,Hour 17,Hour 18,Hour 19,Hour 20,Hour 21,Hour 22,Hour 23,Hour 24
0,2007-01-01,24.31,24.31,21.71,8.42,0.01,0.01,0.02,0.01,0.01,...,15.00,10.00,8.17,27.77,37.99,33.11,37.99,33.00,36.48,30.65
1,2007-01-02,16.01,11.00,9.01,7.50,9.00,7.45,16.50,28.01,29.96,...,37.57,36.45,37.99,53.00,59.69,50.09,50.00,36.22,31.09,29.84
2,2007-01-03,28.00,24.50,24.15,18.99,15.50,23.11,29.01,39.73,43.81,...,43.21,43.99,48.00,57.00,60.99,55.51,51.77,34.51,39.31,38.05
3,2007-01-04,31.01,28.69,27.00,24.20,12.02,27.00,28.00,34.85,41.31,...,40.01,38.00,42.66,53.00,58.99,53.50,44.01,35.00,34.46,31.57
4,2007-01-05,22.00,19.50,17.55,15.91,11.40,22.65,27.30,34.00,40.01,...,40.06,38.00,38.61,49.84,53.00,45.91,36.74,29.61,30.61,27.51

In [6]:
data_cols = df.columns[1:]
data_cols

Index(['Hour 01', 'Hour 02', 'Hour 03', 'Hour 04', 'Hour 05', 'Hour 06',
       'Hour 07', 'Hour 08', 'Hour 09', 'Hour 10', 'Hour 11', 'Hour 12',
       'Hour 13', 'Hour 14', 'Hour 15', 'Hour 16', 'Hour 17', 'Hour 18',
       'Hour 19', 'Hour 20', 'Hour 21', 'Hour 22', 'Hour 23', 'Hour 24'],
      dtype='object')

In [7]:

df['PRICES_str'] = df.PRICES.dt.strftime('%Y-%m-%d')

df[['Year', 'Month', 'Day']] = df['PRICES_str'].str.split('-', expand=True)
df.Month = pd.to_numeric(df.Month)
df['Delta'] = abs(df.Month.values-7)
df['Available'] = np.random.choice([0, 1], size = len(df))
df.drop(['Year', 'Month', 'Day', 'PRICES_str'], axis='columns',inplace=True)
df.head(5)

,PRICES,Hour 01,Hour 02,Hour 03,Hour 04,Hour 05,Hour 06,Hour 07,Hour 08,Hour 09,...,Hour 17,Hour 18,Hour 19,Hour 20,Hour 21,Hour 22,Hour 23,Hour 24,Delta,Available
0,2007-01-01,24.31,24.31,21.71,8.42,0.01,0.01,0.02,0.01,0.01,...,8.17,27.77,37.99,33.11,37.99,33.00,36.48,30.65,6,1
1,2007-01-02,16.01,11.00,9.01,7.50,9.00,7.45,16.50,28.01,29.96,...,37.99,53.00,59.69,50.09,50.00,36.22,31.09,29.84,6,0
2,2007-01-03,28.00,24.50,24.15,18.99,15.50,23.11,29.01,39.73,43.81,...,48.00,57.00,60.99,55.51,51.77,34.51,39.31,38.05,6,1
3,2007-01-04,31.01,28.69,27.00,24.20,12.02,27.00,28.00,34.85,41.31,...,42.66,53.00,58.99,53.50,44.01,35.00,34.46,31.57,6,0
4,2007-01-05,22.00,19.50,17.55,15.91,11.40,22.65,27.30,34.00,40.01,...,38.61,49.84,53.00,45.91,36.74,29.61,30.61,27.51,6,1

In [9]:
data = pd.DataFrame(columns=['Date', 'Price', 'Summer_delta', 'Weekday', 'Hour', 'Available'])
for i, row in df.iterrows():
    day = row.PRICES
    for j, hour in enumerate(data_cols):
        hour_int = int(hour[-2:])
        time = day + timedelta(hours=hour_int-1)
        weekday = day.weekday()
        availablity = 1
        if (7 < j < 18 and row.Available == 0):
            availablity = 0
        data.loc[i*24+j] = [time, row[hour], row.Delta, weekday, hour_int - 1, availablity]

data.head(50)

                  Date  Price  Summer_delta  Weekday  Hour  Available
0  2007-01-01 00:00:00  24.31             6        0     0          1
1  2007-01-01 01:00:00  24.31             6        0     1          1
2  2007-01-01 02:00:00  21.71             6        0     2          1
3  2007-01-01 03:00:00   8.42             6        0     3          1
4  2007-01-01 04:00:00   0.01             6        0     4          1
5  2007-01-01 05:00:00   0.01             6        0     5          1
6  2007-01-01 06:00:00   0.02             6        0     6          1
7  2007-01-01 07:00:00   0.01             6        0     7          1
8  2007-01-01 08:00:00   0.01             6        0     8          1
9  2007-01-01 09:00:00   6.31             6        0     9          1
10 2007-01-01 10:00:00   7.81             6        0    10          1
11 2007-01-01 11:00:00   9.31             6        0    11          1
12 2007-01-01 12:00:00  21.70             6        0    12          1
13 2007-01-01 13:00:00  14.01             6        0    13          1
14 2007-01-01 14:00:00  15.00             6        0    14          1
15 2007-01-01 15:00:00  10.00             6        0    15          1
16 2007-01-01 16:00:00   8.17             6        0    16          1
17 2007-01-01 17:00:00  27.77             6        0    17          1
18 2007-01-01 18:00:00  37.99             6        0    18          1
19 2007-01-01 19:00:00  33.11             6        0    19          1
20 2007-01-01 20:00:00  37.99             6        0    20          1
21 2007-01-01 21:00:00  33.00             6        0    21          1
22 2007-01-01 22:00:00  36.48             6        0    22          1
23 2007-01-01 23:00:00  30.65             6        0    23          1
24 2007-01-02 00:00:00  16.01             6        1     0          1
25 2007-01-02 01:00:00  11.00             6        1     1          1
26 2007-01-02 02:00:00   9.01             6        1     2          1
27 2007-01-02 03:00:00   7.50             6        1     3          1
28 2007-01-02 04:00:00   9.00             6        1     4          1
29 2007-01-02 05:00:00   7.45             6        1     5          1
30 2007-01-02 06:00:00  16.50             6        1     6          1
31 2007-01-02 07:00:00  28.01             6        1     7          1
32 2007-01-02 08:00:00  29.96             6        1     8          0
33 2007-01-02 09:00:00  39.60             6        1     9          0
34 2007-01-02 10:00:00  48.15             6        1    10          0
35 2007-01-02 11:00:00  49.93             6        1    11          0
36 2007-01-02 12:00:00  49.00             6        1    12          0
37 2007-01-02 13:00:00  46.01             6        1    13          0
38 2007-01-02 14:00:00  37.57             6        1    14          0
39 2007-01-02 15:00:00  36.45             6        1    15          0
40 2007-01-02 16:00:00  37.99             6        1    16          0
41 2007-01-02 17:00:00  53.00             6        1    17          0
42 2007-01-02 18:00:00  59.69             6        1    18          1
43 2007-01-02 19:00:00  50.09             6        1    19          1
44 2007-01-02 20:00:00  50.00             6        1    20          1
45 2007-01-02 21:00:00  36.22             6        1    21          1
46 2007-01-02 22:00:00  31.09             6        1    22          1
47 2007-01-02 23:00:00  29.84             6        1    23          1
48 2007-01-03 00:00:00  28.00             6        2     0          1
49 2007-01-03 01:00:00  24.50             6        2     1          1

In [ ]:
data.to_csv('data/train_preprocessed.csv')

In [ ]:
val = pd.read_excel('data/validate.xlsx', parse_dates=True, date_format='%Y-%m-%d')

val['PRICES_str'] = val.PRICES.dt.strftime('%Y-%m-%d')
val[['Year', 'Month', 'Day']] = val['PRICES_str'].str.split('-', expand=True)
val.Month = pd.to_numeric(val.Month)
val['Delta'] = abs(val.Month.values-7)
val['Available'] = np.random.choice([0, 1], size = len(val))
val.drop(['Year', 'Month', 'Day', 'PRICES_str'], axis='columns',inplace=True)


data_val = pd.DataFrame(columns=['Date', 'Price', 'Summer_delta', 'Weekday', 'Hour', 'Available'])
for i, row in val.iterrows():
    day = row.PRICES
    for j, hour in enumerate(data_cols):
        hour_int = int(hour[-2:])
        time = day + timedelta(hours=hour_int-1)
        availablity = 1
        if (7 < j < 18 and row.Available == 0):
            availablity = 0
        data_val.loc[i*24+j] = [time, row[hour], row.Delta, day.weekday(), hour_int-1, availablity]

data_val.to_csv('data/validate_preprocessed.csv')

In [ ]:
data_val.head(26)

                  Date  Price  Summer_delta  Weekday  Hour  Available
0  2010-01-01 00:00:00  13.20             6        4     0          1
1  2010-01-01 01:00:00  13.14             6        4     1          1
2  2010-01-01 02:00:00  11.83             6        4     2          1
3  2010-01-01 03:00:00   9.49             6        4     3          1
4  2010-01-01 04:00:00   8.63             6        4     4          1
5  2010-01-01 05:00:00   7.12             6        4     5          1
6  2010-01-01 06:00:00   4.06             6        4     6          1
7  2010-01-01 07:00:00   1.00             6        4     7          1
8  2010-01-01 08:00:00   8.40             6        4     8          1
9  2010-01-01 09:00:00   9.11             6        4     9          1
10 2010-01-01 10:00:00  10.18             6        4    10          1
11 2010-01-01 11:00:00  13.56             6        4    11          1
12 2010-01-01 12:00:00  18.02             6        4    12          1
13 2010-01-01 13:00:00  15.02             6        4    13          1
14 2010-01-01 14:00:00  12.58             6        4    14          1
15 2010-01-01 15:00:00  10.18             6        4    15          1
16 2010-01-01 16:00:00   9.81             6        4    16          1
17 2010-01-01 17:00:00  18.79             6        4    17          1
18 2010-01-01 18:00:00  22.70             6        4    18          1
19 2010-01-01 19:00:00  30.06             6        4    19          1
20 2010-01-01 20:00:00  27.30             6        4    20          1
21 2010-01-01 21:00:00  23.93             6        4    21          1
22 2010-01-01 22:00:00  33.49             6        4    22          1
23 2010-01-01 23:00:00  31.06             6        4    23          1
24 2010-01-02 00:00:00  23.00             6        5     0          1
25 2010-01-02 01:00:00  17.45             6        5     1          1